/* ----- Text Elements ----- */
.infoheader{
  text-align: center;
}

.highlight-hdr{
  padding-top: 5px;
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  font-family: sans-serif;
}

.queue-info{
  text-align: left;
  font-size: 14px;
  font-family: sans-serif;
}
/* ----- Common Elements ----- */


/* ----- Interaction Elements ----- */


/* ----- Layout Elements ----- */

.no-gutter > [class*='col-'] {
  padding-left:0;
  padding-right:0;
}

.equal, .equal > div[class*='col-'] {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.highlight{
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  box-shadow: #777 2px 2px 5px 0;
}

.summary{
  margin-top: 20px;
}

#callsQueue{
  background-color: #36aac7;
}

#avgHoldtime{
  background-color: #993799;
}

#callsHandled{
  background-color: #28b779;
}

#callsAbandoned{
  background-color: #fa9e14;
}