/* Text Elements */

h1.heading-1 {
  margin-top: .4em;
  margin-bottom: .044444444444444446em;
  background-color: #fff;
  color: #0f0f0f;
  text-align: left;
  font-size: 2.5em;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1 span.heading-text-1 {
  color: #000;
}

h3.heading-4 {
  float: none;
  clear: none;
  margin-top: .05714285714285714em;
  margin-bottom: -1px;
  width: auto;
  color: #3d3d3d;
  font-size: 1.75em;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h5.heading-3 {
  margin-top: .4444444444444444em;
  margin-bottom: -.05555555555555555em;
  text-align: center;
  font-size: 1.125em;
}

h6.heading-2 {
  margin-top: 0;
  color: #3d3d3d;
}

a.link-text.nav-link-uneven {
  display: inline-block;
  margin-top: .36363636363636365em;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: auto;
  color: #fff;
  font-size: 1.375em;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a.link-text.nav-link-even {
  display: inline-block;
  margin-top: .3181818181818182em;
  margin-right: 3%;
  margin-left: 3%;
  width: auto;
  color: #fff;
  font-size: 1.375em;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a.link-text#nav-orange {
  color: #b34225;
}

a.link-text span.text-link-text-2 {
  color: #fff;
}

/* Image Elements */

img.image-2-1.video1 {
  display: block;
  float: none;
  clear: none;
  margin: .4375em auto .125em;
  max-width: none;
  width: 100%;
}

img.image-2-1.video2 {
  display: block;
  float: none;
  clear: none;
  margin: .4375em auto 0 0;
  max-width: 12.5em;
  width: 50%;
}

/* Common Elements */

div.table-container.table-1 td {
  font-size: .7857142857142857em;
}

div.table-container.table-1 th {
  font-size: .7857142857142857em;
}

div.rule.rule-1 {
  margin-right: auto;
  margin-left: auto;
  width: 97%;
}

/* Interaction Elements */

a.link-button.button-link-1 {
  display: none;
}

input[type=text].input-1 {
  padding-top: .21428571428571427em;
}

textarea.textarea-1 {
  height: 12.071428571428571em;
  border-color: #050405;
}

textarea.textarea-2 {
  margin-top: .21428571428571427em;
  margin-bottom: 0;
  height: 8.571428571428571em;
}

textarea.textarea-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 4.285714285714286em;
}

textarea.textarea-4 {
  margin-top: 0;
  height: 4.285714285714286em;
}

ul.social-media.social-1 {
  float: right;
  margin-top: .15384615384615385em;
  width: auto;
  font-size: .8125em;
}

/* Layout Elements */

body > .row {
  max-width: 60em;
}

body > .row.row-1 {
  max-width: none;
  background-color: #bf1717;
}

body > .row.main-content {
  margin-top: 1.875em;
  max-width: none;
  width: 100%;
}

body > .row > [class*='coffee-span-'].column-2 {
  margin-top: .5625em;
  margin-bottom: 1.4375em;
  min-height: .625em;
}

body.grid-1 {
  background-color: #fff;
}

body > .row > [class*='coffee-span-'].column-3 {
  float: left;
  clear: none;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: .5em;
  min-height: 3.125em;
}

body > .row.row-2 {
  max-width: none;
}

body > .row > [class*='coffee-span-'].column-4 {
  float: left;
  clear: none;
  margin-right: 0;
  padding-right: .5em;
}

body > .row.row-4 {
  max-width: none;
}

body > .row.row-5 {
  max-width: none;
}

body > .row.row-6 {
  max-width: none;
}

body > .row > [class*='coffee-span-'].column-5 {
  margin-top: -.3125em;
  margin-bottom: -2.1875em;
  padding-left: .5em;
  min-height: 2.1875em;
}

body > .row > [class*='coffee-span-'].column-6 {
  margin-top: -.3125em;
  margin-bottom: -2.1875em;
  min-height: 2.1875em;
}

body > .row > [class*='coffee-span-'].column-7 {
  margin-top: -.3125em;
  margin-bottom: -2.1875em;
  min-height: 2.1875em;
}

body > .row > [class*='coffee-span-'].column-8 {
  margin-top: -.3125em;
  margin-bottom: -2.1875em;
  min-height: 2.1875em;
}

.subgrid.subgrid-1 {
  margin-right: auto;
  margin-left: auto;
  max-width: 60em;
}

img.logo.logo-1 {
  display: block;
  margin-top: -42px;
  margin-right: auto;
  margin-left: auto;
  max-width: 8.75em;
}

@media screen and (max-width: 95em) {
  /* Layout Elements */

  body > .row.row-1 {
    background-color: #e33434;
  }
}

@media screen and (max-width: 56.9375em) {
  /* Text Elements */

  h1.heading-1 {
    margin-top: .2222222222222222em;
  }

  h3.heading-4 {
    font-size: 1.1875em;
  }

  /* Image Elements */

  img.image-2-1.video1 {
    margin-top: 2.25em;
  }

  img.image-2-1.video2 {
    margin-top: 2.25em;
  }

  /* Common Elements */

  div.table-container.table-2 td {
    font-size: .7142857142857143em;
  }

  div.table-container.table-2 th {
    font-size: .7142857142857143em;
  }

  /* Interaction Elements */

  ul.social-media.social-1 {
    margin-top: 1.125em;
  }

  img.logo.logo-1 {
    margin-top: -44px;
  }
}

@media screen and (max-width: 47.8125em) {
  /* Text Elements */

  h1.heading-1 {
    margin-top: .15789473684210525em;
    font-size: 2.375em;
  }

  h3.heading-4 {
    font-size: 1.75em;
  }

  /* Image Elements */

  img.image-2-1.video1 {
    margin-top: .5em;
    padding-top: 4.5625em;
  }

  img.image-2-1.video2 {
    margin-top: .5em;
    padding-top: 4.5625em;
  }

  /* Common Elements */

  div.table-container.table-1 td {
    font-size: .7142857142857143em;
  }

  div.table-container.table-1 th {
    font-size: .7142857142857143em;
  }

  /* Interaction Elements */

  button[type=submit].button-submit-1 {
    font-size: .625em;
  }

  input[type=text].input-1 {
    font-size: .625em;
  }

  textarea.textarea-2 {
    font-size: .625em;
  }

  textarea.textarea-1 {
    font-size: .625em;
  }

  textarea.textarea-3 {
    font-size: .625em;
  }

  textarea.textarea-4 {
    font-size: .625em;
  }

  ul.social-media.social-1 {
    margin-top: .75em;
  }
}

@media screen and (max-width: 42em) {
  /* Text Elements */

  h1.heading-1 {
    margin-top: 0;
    font-size: 2em;
  }

  h3.heading-4 {
    float: none;
    width: 100%;
    text-align: left;
  }

  h5.heading-3 {
    font-size: 1em;
  }

  h6.heading-2 {
    font-size: 1.125em;
  }

  a.link-text.nav-link-uneven {
    margin-left: 0;
    width: 18%;
    text-decoration: none;
    font-size: 1em;
  }

  a.link-text.nav-link-even {
    margin-left: 0;
    width: 18%;
    text-decoration: none;
    font-size: 1.125em;
  }

  a.link-text#nav-orange {
    margin-right: 0;
    margin-left: 3%;
    width: 18%;
  }

  /* Image Elements */

  img.image-2-1.video1 {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  img.image-2-1.video2 {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].column-1 {
    min-height: 2.125em;
  }

  body > .row > [class*='coffee-span-'].column-2 {
    display: none;
  }

  .subgrid > .row > [class*='coffee-span-'].subgrid-column-1 {
    padding-right: 0;
    padding-left: 0;
  }

  img.logo.logo-1 {
    margin-top: -47px;
    margin-right: auto;
    margin-left: auto;
    max-width: 7.5em;
  }
}

@media screen and (max-width: 36.25em) {
  /* Text Elements */

  h1.heading-1 {
    color: #ff8707;
  }

  h3.heading-4 {
    text-align: center;
  }

  a.link-text.nav-link-uneven {
    display: none;
  }

  a.link-text.nav-link-even {
    display: none;
  }

  /* Image Elements */

  img.image-2-1.video1 {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
  }

  img.image-2-1.video2 {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
  }

  /* Interaction Elements */

  a.link-button.button-link-1 {
    display: inline-block;
    float: right;
    min-width: 5em;
    width: 30%;
    color: #000;
    font-size: 1.25em;
  }

  ul.social-media.social-1 {
    margin-top: -35px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].column-2 {
    display: block;
    margin-bottom: 1.25em;
  }

  img.logo.logo-1 {
    margin-top: -56px;
  }
}

@media screen and (max-width: 31.875em) {
}

@media screen and (max-width: 25.4375em) {
  /* Text Elements */

  h1.heading-1 {
    font-size: 1.5em;
  }

  h6.heading-2 {
    font-size: .875em;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].column-2 {
    margin-top: .125em;
  }

  img.logo.logo-1 {
    max-width: 6.25em;
  }
}

@media screen and (max-width: 20.0625em) {
  /* Text Elements */

  h1.heading-1 {
    margin-top: .13636363636363635em;
    font-size: 1.375em;
  }

  /* Layout Elements */

  body > .row.main-content {
    margin-top: .625em;
  }

  body > .row > [class*='coffee-span-'].column-2 {
    margin-top: .25em;
  }
}