<footer id="footer" class="main-footer">
	<!-- Main Footer -->
	<!-- To the right -->
	<div class="pull-right hidden-xs">
        <b>Version</b> 1.0
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2016 <a href="#">Gov't Agency</a>.</strong> All rights reserved.
</footer>