<footer id="footer" class="main-footer">
	<!-- Main Footer -->
	<!-- To the right -->
	<div class="pull-right hidden-xs">
        <b>Version</b> <span id="ad-version"></span>
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; <span id="ad-year">2018</span> <a href="#">Gov't Agency</a>.</strong> All rights reserved.
</footer>
