<footer id="footer" class="main-footer">
	<!-- Main Footer -->
	<!-- To the right -->
	<div class="float-right d-none d-sm-inline">
        <b>Version</b> <span id="ad-version"></span>
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; <span id="ad-year">2020</span> <a href="#">Gov't Agency</a>.</strong> All rights reserved.
</footer>
