<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Management Portal</title>

<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!--link href="css/bootstrap-theme.css" rel="stylesheet"/-->
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="./bower_components/AdminLTE/bootstrap/css/bootstrap.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="./bower_components/Ionicons/css/ionicons.min.css">
<!-- AdminLTE CSS  -->
<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins  -->
<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
<!-- DateRangePicker -->
<link rel="stylesheet" href="./bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- Datatables -->
<link rel="stylesheet" href="./bower_components/datatables/media/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="./bower_components/wickedpicker/dist/wickedpicker.min.css">


<link rel="stylesheet" href="./bower_components/AdminLTE/plugins/select2/select2.min.css">


<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery -->
<script type="text/javascript" src="./bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- moment.js 2.15.1 -->
<script type="text/javascript" src='./bower_components/moment/min/moment.min.js'></script>
<!-- AdminLTE App -->
<script type="text/javascript" src="./bower_components/AdminLTE/dist/js/app.min.js"></script>

<script type="text/javascript" src="./bower_components/wickedpicker/dist/wickedpicker.min.js"></script>


<script type="text/javascript" src="./bower_components/AdminLTE/plugins/select2/select2.min.js"></script>


<!-- socket.io-client -->
<script type="text/javascript" src="./socket.io/socket.io.js"></script>



