<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Management Portal</title>

<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!--link href="css/bootstrap-theme.css" rel="stylesheet"/-->
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="./assets/css/ionicons.min.css">
<!-- AdminLTE CSS  -->
<link rel="stylesheet" href="./assets/css/AdminLTE.min.css">
<!-- AdminLTE Skins  -->
<link rel="stylesheet" href="./assets/css/_all-skins.min.css">
<!-- DateRangePicker -->
<link rel="stylesheet" href="./assets/css/daterangepicker.css">
<!-- Datatables -->
<link rel="stylesheet" href="./assets/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="./assets/css/wickedpicker.min.css">


<link rel="stylesheet" href="./assets/css/select2.min.css">
<script>
var nginxPath ='<%=nginxPath%>';
</script>

<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery -->
<script type="text/javascript" src="./assets/js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<!-- moment.js 2.15.1 -->
<script type="text/javascript" src='./assets/js/moment.min.js'></script>
<!-- AdminLTE App -->
<script type="text/javascript" src="./assets/js/app.min.js"></script>

<script type="text/javascript" src="./assets/js/wickedpicker.min.js"></script>


<script type="text/javascript" src="./assets/js/select2.min.js"></script>
<!-- DataTables 1.10.12 -->
<script type="text/javascript" src="./assets/js/jquery.dataTables.min.js"></script>


<!-- socket.io-client -->
<script type="text/javascript" src="./socket.io/socket.io.js"></script>

<!-- input data validation -->
<script type="text/javascript" src="./assets/js/jquery.form-validator.min.js"></script>

