<!-- Main Sidebar container -->
<aside class="main-sidebar elevation-4 sidebar-dark-purple sidebar-no-expand">
		<!-- Brand logo -->
			<a href="./dashboard" class="brand-link navbar-purple logo-switch">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-xs">ACE</span>
				<!-- logo for regular state and mobile devices -->
				<span class="brand-text font-weight-light">ACE Dashboard</span>
			</a>
		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar text-sm flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-header">MAIN NAVIGATION</li>
					<!-- Optionally, you can add icons to the links -->
					<li class="nav-item">
						<a class="nav-link" id="sidebardashboard" href="./dashboard">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							<p>Management Dashboard</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebarcdr" href="./cdr">
							<i class="nav-icon fas fa-table"></i>
							<p>CDR Dashboard</p>
						</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" id="sidebarreport" href="./report">
							<i class="nav-icon fas fa-chart-bar"></i>
							<p>Report</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebarvideomail" href="./videomail">
							<i class="nav-icon fas fa-video"></i>
							<p>Videomail Dashboard</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebarlight" href="./light">
							<i class="nav-icon fas fa-lightbulb"></i>
							<p>Light Configuration</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebaroperatinghours" href="./hours">
							<i class="nav-icon fas fa-clock"></i>
							<p>Hours of Operation</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebarcallblocking" href="./callblocking">
							<i class="nav-icon fas fa-ban"></i>
							<p>Call Blocking</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sidebaragentmanagement" href="./users">
							<i class="nav-icon fas fa-lock"></i>
							<p>Agent Management</p>
						</a>
					</li>


                                        <!-- NOT FOR v3.2
					<li class="nav-item">
						<a class="nav-link" id="sidebaradmin" href="./admin">
							<i class="nav-icon fas fa-cogs"></i>
							<p>Administration</p>
						</a>
					</li>
                                        -->


					<!--li id="sidebarsystemhealth"><a href="./status"><i class="fa fa-heartbeat"></i> <span>System Health</span></a></li-->
				</ul><!-- /.sidebar-menu -->
			</nav>
			<!-- Sidebar Menu -->
		</div>
		<!-- Sidebar -->
	</aside>
