<aside id="sidebar" class="main-sidebar">
	<!-- Left side column. contains the logo and sidebar -->
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<!-- Optionally, you can add icons to the links -->
			<li id="sidebardashboard"><a href="./dashboard"><i class="fa fa-dashboard"></i> <span>Management Dashboard</span></a></li>
			<li id="sidebarcdr"><a href="./cdr"><i class="fa fa-table"></i> <span>CDR Dashboard</span></a></li>
			<li id="sidebarvideomail"><a href="./videomail"><i class="fa fa-video-camera"></i> <span>Videomail Dashboard</span></a></li>
			<li id="sidebarlight"><a href="./light"><i class="fa fa-lightbulb-o"></i> <span>Light Configuration</span></a></li>
			<li id="sidebaroperatinghours"><a href="./hours"><i class="fa fa-clock-o"></i> <span>Hours of Operation</span></a></li>
			<li id="sidebaragentmanagement"><a href="./users"><i class="fa fa-lock"></i> <span>Agent Management</span></a></li>
			<!--li id="sidebarsystemhealth"><a href="./status"><i class="fa fa-heartbeat"></i> <span>System Health</span></a></li-->
        </ul><!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
