<style>.form-group {
  position: relative
}
.form-checkbox-item {
width: 500px;
text-align: left;
margin-left: 50px;
margin-right: 0px;
}
.form-checkbox-item label{
margin: 0px 3px 0px 20px;
}
.form-group input[type="password"] {
  padding-right: 30px
}
.form-group .glyphicon {
  right: 65px;
  position:absolute;
  top:12px
}</style>
