<!DOCTYPE html>

<html>
	<head>
		<% include ../partials/head %>
	</head>
    <body class="hold-transition skin-purple sidebar-mini">
        <div class="wrapper">         
			<!-- Main Header -->
			<% include ../partials/header %>
			<% include ../partials/sidebar %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>CDR Dashboard</h1>       

                    <div id="reportrange" class="dropdown-menu-left" >
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>

                    <ol class="breadcrumb">
                        <li><a href="./dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">CDR Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- CDR Table -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Call Detail Records</h3>

                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" id="toggle"><i class="fa fa-toggle-off"></i></button>     
                                        <button class="btn btn-box-tool" id="cdrdownloadbtn"><i class="fa fa-download"></i></button>                   
                                    </div>

                                </div><!-- /.box-header -->
                                <div id="cdrtablediv" class="box-body table-responsive" style="overflow-x: scroll" >
                                    <table id="cdrtable" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Call Date</th>
                                                <th class="text-center">Caller ID Text</th>
                                                <th class="text-center">Source</th>
                                                <th class="text-center">Destination</th>
                                                <th class="text-center">Destination Context</th>
                                                <th class="text-center">Channel</th>
                                                <th class="text-center">Destination Channel</th>
                                                <th class="text-center">Last Application</th>
                                                <th class="text-center">Last Data</th>
                                                <th class="text-center">Duration Seconds</th>
                                                <th class="text-center">Billable Seconds</th>
                                                <th class="text-center">Disposition</th>
                                                <th class="text-center">AMA Flags</th>
                                                <th class="text-center">Account Code</th>
                                                <th class="text-center">User Field</th>
                                                <th class="text-center">Unique ID</th>
                                                <th class="text-center">Linked ID</th>
                                                <th class="text-center">Sequence</th>
                                                <th class="text-center">Peer Account</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div><!-- ./CDR Table -->
                    <div id="csv"></div>
                </section><!-- /.content -->
            </div><!-- /.content - wrapper -->
			<% include ../partials/footer %>
        </div><!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->
		<!-- DataTables 1.10.12 -->
		<script type="text/javascript" src="./bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
		<!-- Datatables-Bootstrap3 - ->
        <script type="text/javascript" src="./bower_components/datatables-bootstrap3/BS3/assets/js/datatables.js"></script>
		<!-- DateRangePicker -->
        <script type="text/javascript" src="./bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>  

		<script type="text/javascript">
			var socket;// = io.connect('http://' + window.location.host); // opens socket.io connection
			var ENV = "";	// environment variable to control header text		
			var toggle = true; // toggle boolean for CDR table
			
			$.ajax({
				url: './token',
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					//alert(JSON.stringify(data));
					if (data.message === "success") {
						socket = io.connect('https://' + window.location.host, {
							path: '/ManagementPortal/socket.io',
							query: 'token=' + data.token,
							forceNew: true
						});

						socket.on('connect', function () {
							// Emit for CDR Data set to be called on page ready.
							socket.emit('cdrtable-get-data', {"format": "json"});
						});

						// Gets the environment variable, used for setting site name.
						socket.on('environment', function (data) {
							ENV = data;
							if (ENV === "AD") {
								//$('#headername').html("ACE Direct");
							} else if (ENV === "ACL") {
								//$('#headername').html("ACE Connect Lite");
							}
						});

						// Receives the CDR Table data.
						socket.on('cdrtable-data', function (data) {
							if (data.message === "Success") {
								$('#cdrtable').dataTable().fnClearTable();
								$('#cdrtable').dataTable().fnAddData(data.data);
								$('#cdrtable').resize();
							} else {
								$(".dataTables_empty").html("CDR's do not exist.");
							}
						});

						// Receives the CDR data in CSV format
						socket.on('cdrtable-csv', function (data) {
							var csvString = data;
							var a = document.createElement('a');
							a.href = 'data:attachment/csv,' + encodeURIComponent(csvString);
							a.target = '_blank';
							a.download = 'cdr_info.csv';
							document.body.appendChild(a);
							a.click();
						});

						// Handles Error conditions from CDR REST calls.
						socket.on('cdrtable-error', function (data) {
							$(".dataTables_empty").css("color", "red").html(data.message);
						});

					} else {
						$('#message').text(data.message);
					}
				},
				error: function (xhr, status, error) {
					console.log('Error');
					$('#message').text('An Error Occured.');
				}
			});

			// initialize the datatable
			var datatable = $('#cdrtable').DataTable({
				"columns": [
					{"data": "calldate",
						"render": function (value) {
							return moment(value).local().format('YYYY/MM/DD hh:mm:ss a');
						}
					},
					{"data": "clid"},
					{"data": "src"},
					{"data": "dst"},
					{"data": "dcontext"},
					{"data": "channel"},
					{"data": "dstchannel"},
					{"data": "lastapp"},
					{"data": "lastdata"},
					{"data": "duration"},
					{"data": "billsec"},
					{"data": "disposition"},
					{"data": "amaflags"},
					{"data": "accountcode"},
					{"data": "userfield"},
					{"data": "uniqueid"},
					{"data": "linkedid"},
					{"data": "sequence"},
					{"data": "peeraccount"}
				]
			});

			//Toggles the table to display or hide extra columns
			function toggleTable() {
				toggle = !toggle;
				if (toggle) {
					$('#toggle').html('<i class="fa fa-toggle-on"></i>');
				} else {
					$('#toggle').html('<i class="fa fa-toggle-off"></i>');
				}
				datatable.column(1).visible(toggle);
				datatable.column(6).visible(toggle);
				datatable.column(11).visible(toggle);
				datatable.column(12).visible(toggle);
				datatable.column(13).visible(toggle);
				datatable.column(14).visible(toggle);
				datatable.column(15).visible(toggle);
				datatable.column(16).visible(toggle);
				datatable.column(17).visible(toggle);
				datatable.column(18).visible(toggle);
			}

			function DateRangePickerSetup() {
				// sets the Date Range picker start and end date
				var start = moment("2016-01-01");
				var end = moment(); //today

				// Call back funtion for setting report range <div> value
				function cb(start, end) {
					$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				}

				// controls for the date range picker
				$('#reportrange').daterangepicker({
					startDate: start,
					endDate: end,
					ranges: {
						'Today': [moment(), moment()],
						'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'This Month': [moment().startOf('month'), moment().endOf('month')],
						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
						'All Time': [start, end]
					}
				}, cb);

				// sets initial value for report range <div>
				cb(start, end);

				// Click event for new date range selected
				$('#reportrange').on('apply.daterangepicker', function (evt, picker) {
					var startdate = moment(picker.startDate.format('YYYY-MM-DD')).format();
					var enddate = moment(picker.endDate.format('YYYY-MM-DD')).add('days', 1).format();
					socket.emit('cdrtable-get-data', {"format": "json", "start": startdate, "end": enddate});
				});
			}

			$(document).ready(function () {
				$("#sidebarcdr").addClass("active");
				toggleTable(); // hide extra columns on initial load

				//click event for the toggle button on the CDR table
				$('#toggle').on('click', function (e) {
					e.preventDefault();
					toggleTable();
				});

				//click event for downloading CSV file
				$('#cdrdownloadbtn').click(function () {
					socket.emit('cdrtable-get-data', {"format": "csv"});
				});

				DateRangePickerSetup();
			});			
        </script>
    </body>
</html>
