<!DOCTYPE html>

<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="hold-transition skin-purple sidebar-mini" ng-app="acrcsr-dashboard">
		<div class="wrapper">
			<% include ../partials/header %>
			<% include ../partials/sidebar %>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper" ng-controller="dashboardController">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>Management Dashboard</h1>
					<div id="reportrange" class="dropdown-menu-left" >
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
						<span></span> <b class="caret"></b>
					</div>
					<ol class="breadcrumb">
						<li><a href="./dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
						<li class="active">Management Dashboard</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<!-- Page Content -->
					<!-- Summary Boxes Row -->
					<div class="row">
						<div class="col-lg-3 col-xs-6">
							<div class="small-box bg-aqua">
								<div class="inner" data-toggle="tooltip" title="Calls Waiting - Number of calls waiting in all queues">
									<h3 ng-bind="summary.calls| shownum"></h3>
									<h4>Calls Waiting</h4>
								</div>
								<div class="icon">
									<i class="ion ion-ios-telephone"></i>
								</div>
							</div>
						</div><!-- ./col -->
						<div class="col-lg-3 col-xs-6">
							<div class="small-box bg-green">
								<div class="inner" data-toggle="tooltip" title="Calls Handled - Number of calls completed in all queues">
									<h3 ng-bind="summary.completed| shownum"></h3>
									<h4>Calls Handled</h4>
								</div>
								<div class="icon">
									<i class="ion ion-checkmark"></i>
								</div>
							</div>
						</div><!-- ./col -->
						<div class="col-lg-3 col-xs-6">
							<div class="small-box bg-yellow">
								<div class="inner" data-toggle="tooltip" title="Average Hold Time (minutes:seconds) – Average call holding time in all queues">
									<h3 ng-bind="summary.avgholdtime | shownum | minsectimeformat"></h3>
									<h4>Average Hold Time (m:s)</h4>
								</div>
								<div class="icon">
									<i class="ion ion-clock"></i>
								</div>
							</div>
						</div><!-- ./col -->
						<div class="col-lg-3 col-xs-6">
							<div class="small-box bg-red">
								<div class="inner" data-toggle="tooltip" title="Calls Abandoned – Number of calls not answered in all queues">
									<h3 ng-bind="summary.abandoned| shownum"></h3>
									<h4>Calls Abandoned</h4>
								</div>
								<div class="icon">
									<i class="ion ion-close-circled"></i>
								</div>
							</div>
						</div><!-- ./col -->
					</div><!-- /.row -->

					<!-- Charts Row -->
					<div id="charts" class="row hidden" >
						<div class="col-md-4">
							<!-- Average Calls In Queue LINE CHART -->
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Average Calls In Queue <small>(10 min. intervals)</small>
									</h3>
									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="box-body">
									<div id="queueSizeLineChart" style="height:250px"></div>
								</div>
								<!-- /.box-body -->
							</div>
						</div>
						<div class="col-md-4">
							<!-- Agent Status PIE CHART -->
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Agent Status
									</h3>
									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="box-body">
									<div id="agentStatusPieChart" style="height:250px"></div>
								</div>
								<!-- /.box-body -->
							</div>
						</div>
					</div>

					<!-- Queue Information Box -->
					<div class="row">
						<div class="col-lg-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Queue Information</h3>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div><!-- /.box-header -->
								<div class="box-body table-responsive no-padding" style="max-height: 250px; overflow-y: scroll">
									<table class="table table-hover">
										<tr>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Queue Name">Queue</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Number of agents (CSR) currently logged into the system">Logged In</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Number of agents currently in a ready state">Available Agents</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Number of calls currently in progress">Current Calls</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Total number of calls made">Total Calls</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Total number of calls answered by an agent">Calls Handled</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Total number of calls abandoned">Calls Abandoned</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Average talk time (minutes:seconds)">Talk Time (m:s)</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Average hold time (minutes:seconds)">Hold Time (m:s)</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="The longest hold (minutes:seconds)">Longest Hold Time (m:s)</th>
										</tr>
										<tr ng-repeat="q in Queues">
											<td><span class="queue-info" ng-bind="q.queue"></span></td>
											<td id="qname" class="text-center"><span class="queue-info" ng-bind="q.loggedin"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.available"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.callers"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.calls"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.completed"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.abandoned"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.talktime | shownum | minsectimeformat"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.holdtime | shownum | minsectimeformat"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="q.longestholdtime | shownum | minsectimeformat"></span></td>
										</tr>
									</table>
								</div><!-- /.box-body -->
							</div><!-- /.box -->
						</div><!-- ./col -->
					</div><!-- ./Queue Information Table -->

					<!-- Call Agent Summary Table -->
					<div class="row">
						<div class="col-lg-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Call Agent Summary</h3>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div><!-- /.box-header -->
								<div id="agentSummary" class="box-body table-responsive no-padding" style="max-height: 250px; overflow-y: scroll">
									<table class="table table-hover">
										<tr>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Name of the agent">Call Agent</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Extension assigned to the agent">Registered Ext.</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Asterisk queues assigned to the agent. All queue names are displayed if an agent is assigned to more than one queue.">Registered Queue</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Number of calls handled (answered and completed) by the agent">Calls Completed</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Talk Time divided by number of calls">Average Call Time (m:s)</th>
											<th class="text-center" data-toggle="tooltip" data-container="body" title="The cumulative time the agent has spent on calls">Talk Time (m:s)</th> 
											<!-- Placeholders for a future function -->
											<!-- <th class="text-center"Calls Abandoned</th> -->
											<!-- <th class="text-center">Hang-Ups</th> -->
											<!-- <th class="text-center">Ring No Answer</th> -->
											<th class="text-center" data-toggle="tooltip" data-container="body" title="Logged Off, Ready, Away, or In-Call">Status</th>
										</tr>
										<tr ng-repeat="a in Agents" highlight-on-change="{{a.help}}" ng-click="a.help = 'no'">
											<td><span class="queue-info" ng-bind="a.name"></span></td>

											<td class="text-center"><span class="queue-info" ng-bind="a.agent"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="a.queue"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="a.callstaken"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="a.avgtalktime | shownum | minsectimeformat"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="a.talktime | shownum | minsectimeformat"></span></td>
											<td class="text-center"><span class="queue-info" ng-bind="a.status"></span></td>
										</tr>
									</table>
								</div><!-- /.box-body -->
							</div><!-- /.box -->
						</div>
					</div><!-- ./Call Agent Summary Table -->

					<!-- Resource Status Table -->
					<div class="row">
						<div class="col-lg-4">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title">Resource Status Table</h3>
									<br>
									<small id="resourceupdated">Last updated:</small>
									<div class="box-tools pull-right">
										<button id="statusRefreshBtn" class="btn btn-box-tool" onclick="refreshResourceStatus()"><i id="statusRefreshIcon" class="fa fa-refresh"></i></button>
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div><!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<table id="resourcetable" class="table table-hover">
										<!-- place holder for resourcetable which will update later -->
									</table>
								</div><!-- /.box-body -->
							</div><!-- /.box -->
						</div>
					</div><!-- ./Resource Status Table -->

					<div class="row">
						<div class="col-md-12" style="visibility:hidden; text-align: center">
							<button id="reset"  type="button" class="btn bg-navy btn-flat margin" onclick="resetAllCounters()" >Reset All Counters</button>
						</div>
					</div>
				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->
			<% include ../partials/footer %>
		</div><!-- ./wrapper -->
		
		<!-- REQUIRED JS SCRIPTS -->
		<!-- Angular -->
		<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
		<!-- Angular-Route -->
		<script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
		<!-- Angular Bootstrap -->
		<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

		<!-- Angular Controllers -->
		<script type="text/javascript" src="public/js/controllers/dashboard.js"></script>
		<script type="text/javascript" src="public/js/controllers/filters.js"></script>
		<script type="text/javascript" src="public/js/services/csrservices.js"></script>
		<script type="text/javascript" src="public/js/core-dashboard.js"></script>

		<!-- flot -->
		<script type="text/javascript" src="./bower_components/AdminLTE/plugins/flot/jquery.flot.min.js"></script>
		<script type="text/javascript" src="./bower_components/AdminLTE/plugins/flot/jquery.flot.categories.min.js"></script>
		<script type="text/javascript" src="./bower_components/AdminLTE/plugins/flot/jquery.flot.time.min.js"></script>
		<script type="text/javascript" src="./bower_components/flot-axislabels/jquery.flot.axislabels.js"></script>
		<script type="text/javascript" src="./bower_components/AdminLTE/plugins/flot/jquery.flot.pie.min.js"></script>
		<!-- DateRangePicker -->
		<script type="text/javascript" src="./bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<!-- Moment Duration Format -->
		<script type="text/javascript" src="./bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
		<script type="text/javascript" src="./bower_components/angular-moment-duration-format/angular-moment-duration-format.min.js"></script>

		<script type="text/javascript">
			var socket;

			$.ajax({
				url: './token',
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					//alert(JSON.stringify(data));
					if (data.message === "success") {
						socket = io.connect('https://' + window.location.host, {
							path: '/ManagementPortal/socket.io',
							query: 'token=' + data.token,
							forceNew: true
						});

						socket.emit('register-manager', {"hello": "hello"});
						socket.on('resource-status', function (data) {
							$('#statusRefreshIcon').removeClass('fa-spin');
							$('#statusRefreshBtn').prop("disabled", false);
							if (data.error === undefined) {

								var timestamp = moment(data.timestamp).format('h:mm:ss A');
								$('#resourceupdated').html("Last Updated: " + timestamp);
								$('#resourcetable').html('');
								$('#resourcetable').append("<tr><th>System</th><th>Status</th></tr>");

								for (i = 0; i < data.resources.length; i++) {
									var newRow = document.createElement('tr');
									var resourceName = document.createElement('td');
									var resourceStatus = document.createElement('td');
									var resSpan = document.createElement('span');

									$(resSpan).addClass('label');

									$(resourceName).html(data.resources[i].name);
									$(resSpan).html(data.resources[i].status);

									if (data.resources[i].status) {
										$(resSpan).addClass('label-success');
										$(resSpan).html("Running");
									} else {
										$(resSpan).addClass('label-danger');
										$(resSpan).html("Unavailable");
									}

									$(resourceStatus).append(resSpan);
									$(newRow).append(resourceName);
									$(newRow).append(resourceStatus);

									$('#resourcetable').append(newRow);
								}
							}
						});

						socket.on('metrics', function (data) {
							if (data.showCharts) {
								$("#charts").removeClass('hidden');
								$.plot("#queueSizeLineChart", [data.averageCallsInQueue, data.averageCallsInQueueTarget], {
									lines:{show: true},
									axisLabels: {show: true},
									xaxis: {
										mode: "time",
										minTickSize: [2, "hour"],
										timeformat: "%H:%M",
										axisLabel: "Time"
									},
									yaxis: {
										position: "left",
										axisLabel: "Calls"
									},
									colors: ["#0022FF", "#FF4040"]
								});

								$.plot("#agentStatusPieChart", data.agentStatus, {
									series: {
										pie: { 
											show: true,
											radius: 1,
											label: {
												show: true,
												radius: 0.6,
												formatter: labelFormatter,
												background: {
													opacity: 0.5
												}
											}
										}
									},
									legend: {
										show: false
									}
								});
							}
							else {
								$("#charts").addClass('hidden');
							}
						});
					} else {
						// handle bad connections
					}
				},
				error: function (xhr, status, error) {
					console.log('Error');
					$('#message').text('An Error Occured.');
				}
			});

			// Label formatter for flot pie chart
			function labelFormatter(label, series) {
				return "<div style='font-size:10pt; text-align:center; padding:2px; color:black;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
			} 

			function DateRangePickerSetup() {
				// sets the Date Range picker start and end date
				var start = moment().subtract(1, 'days');
				var end = moment(); //today

				// Call back funtion for setting report range <div> value
				function cb(start, end) {
					$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				}

				// controls for the date range picker
				$('#reportrange').daterangepicker({
					startDate: start,
					endDate: end,
					ranges: {
						'Today': [moment(), moment()],
						'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'This Month': [moment().startOf('month'), moment().endOf('month')],
						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
						'All Time': [start, end]
					}
				}, cb);

				// sets initial value for report range <div>
				cb(start, end);

				// Click event for new date range selected
				$('#reportrange').on('apply.daterangepicker', function (evt, picker) {
					var startdate = moment(picker.startDate.format('YYYY-MM-DD'));
					var enddate = moment(picker.endDate.format('YYYY-MM-DD')).add(1, 'days');
					socket.emit('metrics-get-data', {"format": "json", "start": startdate, "end": enddate});
				});
			}

			$(document).ready(function () {
				$("#sidebardashboard").addClass("active");

				DateRangePickerSetup();
			});

			function refreshResourceStatus() {
				$('#statusRefreshIcon').addClass('fa-spin');
				$('#statusRefreshBtn').prop("disabled", true);
				socket.emit('resource-status-update', null);
			}

			function resetAllCounters() {
				console.log("reset counters ####");
				$.ajax({
					url: '/resetAllCounters',
					type: 'GET',
					dataType: "json"
				})
			}
		</script>
	</body>
</html>