<!DOCTYPE html>

<html>
	<head>
        <% include ../partials/head %>
        <!--bootstrap-select-->
        <link rel = "stylesheet" type="text/css" href="./assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="./css/light.css">
	</head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
			<!-- Main Header -->
			<% include ../partials/header %>
			<% include ../partials/sidebar %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <h1 class="m-0 text-dark">Light Configuration</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Light Configuration </h3>
                                    </div><!-- /.card-header -->
                                    <div class="card-body table-responsive" style="overflow:visible !important;">
                                        <form class="form-inline" id = "form_input" action = "">
                                            <div class = "col-lg-12" id = "form_container">
                                                <table id = "form_table" style="font-size: 20px; width: 80%; max-width:700px;">
                                                    <tr style="height:20px;">
                                                        <th style = "text-decoration: underline; padding-bottom: 5px;"> Status </th>
                                                        <th style = "text-decoration: underline; padding-bottom: 5px;"> Color </th>
                                                    </tr>
                                                </table>
                                                <div class="btn-group mt-4" role="group" aria-label="Basic example">
                                                    <input type="button" onclick = "reset_color_config()" class="btn btn-gray wordwrap" value = "Reset to Default">
                                                    <input type="button" onclick = "submit_form()" class="btn btn-primary" value = "Save">
                                                </div>
                                            </div>
                                            <!-- <div class = "row" style="margin-top: 25px; padding-left: 10px;">
                                              <div class = "col-xs-4">
                                                  <input style="margin-top: 20px; width: 100%; max-width: 175px;" type="button" onclick = "reset_color_config()" class="btn btn-gray btn-lg wordwrap" value = "Reset to Default">
                                              </div>
                                            </div>
                                            <div class ="row" style="padding-left: 10px;">
                                              <div class = "col-xs-4" style = "margin-top: 5px;">
                                                <input style="width: 100%; max-width: 175px;" type="button" onclick = "submit_form()" class="btn btn-primary btn-lg" value = "Save">
                                              </div>
                                            </div> -->
                                            <div class = "row" style="padding-left: 10px;">
                                              <div class ="col-lg-12">
                                                <p style="margin-top:10px; color: red;" id="message"></p>
                                              </div>
                                            </div>
                                        </form>
                                    </div><!-- /.card-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.content - wrapper -->
			<% include ../partials/footer %>
        </div><!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->
        <script type="text/javascript" src="./assets/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="./js/controllers/light.js"></script>
    </body>
</html>
