<!DOCTYPE html>

<html>
	<head>
		<% include ../partials/head %>
        <style>
           #form_container tr
            {
                height:55px;
            }
            #form_container .form-control p
            {
                font-size: 20px;
                padding: 0px 12px;
            }
            #form_container th
            {
                font-size: 20px;
            }
            .btn:not(.btn-primary)
            {
                background-color: white; 
            }
            .dropdown-menu > li > a
            {
                color: #333;
            }
            .dropup-menu > li > a
            {
                color: #333;
            }
            .bootstrap-select.btn-group .dropdown-menu
            {
                z-index: 10000;
            }
            .circle
            {
                display: inline-block;
                width:20px;
                height: 20px;
                border-radius: 50%;
                float: left;
                margin-top: 5px;
                margin-right: 10px;
                margin-left: 2px;
            }
            .gray
            {
                background-color: #777777;
            }
             .aqua-solid
            {
                background-color: #00c0ef;
            }
            .aqua-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #00c0ef;
                box-shadow: 10px 0 0 -4px #00c0ef, 
                          -10px 0 0 -4px #00c0ef, 
                            0 10px 0 -4px #00c0ef,
                           0 -10px 0 -4px #00c0ef, 
                          8px -8px 0 -4px #00c0ef, 
                          -8px -8px 0 -4px #00c0ef, 
                          -8px 8px 0 -4px #00c0ef, 
                          8px 8px 0 -4px #00c0ef;
            }
             .blue-solid
            {
                background-color: #0073b7;
            }
            .blue-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #0073b7;
                box-shadow: 10px 0 0 -4px #0073b7, 
                          -10px 0 0 -4px #0073b7, 
                            0 10px 0 -4px #0073b7,
                           0 -10px 0 -4px #0073b7, 
                          8px -8px 0 -4px #0073b7, 
                          -8px -8px 0 -4px #0073b7, 
                          -8px 8px 0 -4px #0073b7, 
                          8px 8px 0 -4px #0073b7;
            }
             .green-solid
            {
                background-color: #00a65a;
            }
            .green-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #00a65a;
                box-shadow: 10px 0 0 -4px #00a65a, 
                          -10px 0 0 -4px #00a65a, 
                            0 10px 0 -4px #00a65a,
                           0 -10px 0 -4px #00a65a, 
                          8px -8px 0 -4px #00a65a, 
                          -8px -8px 0 -4px #00a65a, 
                          -8px 8px 0 -4px #00a65a, 
                          8px 8px 0 -4px #00a65a;
            }
             .orange-solid
            {
                background-color: #ff851b;
            }
              .orange-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #ff851b;
                box-shadow: 10px 0 0 -4px #ff851b, 
                          -10px 0 0 -4px #ff851b, 
                            0 10px 0 -4px #ff851b,
                           0 -10px 0 -4px #ff851b, 
                          8px -8px 0 -4px #ff851b, 
                          -8px -8px 0 -4px #ff851b, 
                          -8px 8px 0 -4px #ff851b, 
                          8px 8px 0 -4px #ff851b;
            }
             .red-solid
            {
                background-color: #d33621;
            }
            .red-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #d33621;
                box-shadow: 10px 0 0 -4px #d33621, 
                          -10px 0 0 -4px #d33621, 
                            0 10px 0 -4px #d33621,
                           0 -10px 0 -4px #d33621, 
                          8px -8px 0 -4px #d33621, 
                          -8px -8px 0 -4px #d33621, 
                          -8px 8px 0 -4px #d33621, 
                          8px 8px 0 -4px #d33621;
            }
             .pink-solid
            {
                background-color: #d626d0;
            }
            .pink-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #d626d0;
                box-shadow: 10px 0 0 -4px #d626d0, 
                          -10px 0 0 -4px #d626d0, 
                            0 10px 0 -4px #d626d0,
                           0 -10px 0 -4px #d626d0, 
                          8px -8px 0 -4px #d626d0, 
                          -8px -8px 0 -4px #d626d0, 
                          -8px 8px 0 -4px #d626d0, 
                          8px 8px 0 -4px #d626d0;
            }
             .yellow-solid
            {
                background-color: #ffcb11;
            }
            .yellow-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                background-color: #ffcb11;
                box-shadow: 10px 0 0 -4px #ffcb11, 
                          -10px 0 0 -4px #ffcb11, 
                            0 10px 0 -4px #ffcb11,
                           0 -10px 0 -4px #ffcb11, 
                          8px -8px 0 -4px #ffcb11, 
                          -8px -8px 0 -4px #ffcb11, 
                          -8px 8px 0 -4px #ffcb11, 
                          8px 8px 0 -4px #ffcb11;
            }
             .white-solid
            {
                background-color: white;
                border: 1px solid #777777;
            }
            .white-blinking
            {
                margin-left:6px;
                margin-top: 8px;
                margin-right: 13px;
                width:12px;
                height: 12px;
                border: 1px solid #777777;
                background-color: white;
                box-shadow: 10px 0 0 -4px #777777, 
                          -10px 0 0 -4px #777777, 
                            0 10px 0 -4px #777777,
                           0 -10px 0 -4px #777777, 
                          8px -8px 0 -4px #777777, 
                          -8px -8px 0 -4px #777777, 
                          -8px 8px 0 -4px #777777, 
                          8px 8px 0 -4px #777777;
            } 
        </style>
	</head>
    <body class="hold-transition skin-purple sidebar-mini">
        <div class="wrapper">         
			<!-- Main Header -->
			<% include ../partials/header %>
			<% include ../partials/sidebar %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Light Configuration</h1>       
                    <ol class="breadcrumb">
                        <li><a href="./light"><i class="fa fa-lightbulb-o"></i> Home</a></li>
                        <li class="active">Light Configuration</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> Light Configuration </h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive" style="overflow:visible !important;">
								     <form class="form-inline" id = "form_input" action = "">
                                        <div class = "col-lg-12" id = "form_container">
                                            <table id = "form_table" style="font-size: 20px; width: 80%; max-width:700px;">
                                                <tr style="height:20px;">
                                                    <th style = "text-decoration: underline; padding-bottom: 5px;"> Status </th>
                                                    <th style = "text-decoration: underline; padding-bottom: 5px;"> Color </th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class = "col-lg-12" style = "margin-top: 5px;">
                                            <input style="margin-top: 20px;" type="button" onclick = "submit_form()" class="btn btn-primary btn-lg" value = "Save">
                                        </div>
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </section><!-- /.content -->
            </div><!-- /.content - wrapper -->
			<% include ../partials/footer %>
        </div><!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery -->
		<script type="text/javascript" src="./bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<!-- Bootstrap 3.3.5 -->
		<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<!-- moment.js 2.15.1 -->
        <script type="text/javascript" src='./bower_components/moment/moment.js'></script>
		<!-- AdminLTE App -->
		<script type="text/javascript" src="./bower_components/AdminLTE/dist/js/app.min.js"></script>
		<!-- socket.io-client -->
		<script type="text/javascript" src="./socket.io/socket.io.js"></script>
        <!--bootstrap-select-->
        <script type="text/javascript" src="./bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <link rel = "stylesheet" type="text/css" href="./bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
		<script type="text/javascript">

            var socket;
           
            /**
             * disables color from all other statuses' selection lists and reenables old_color. does not disable currently selected color from its correlating status
             * @param {color} is the current color value to disable
             * @param {old_color} the previous color value that needs to be enabled
             * @param {status_name} the name of the status that called this function 
            */
            function disable_colors(color, old_color, status_name)
            {
                var options = document.getElementsByTagName("option");
                for (option in options)
                {
                    if(color != "off")  //can select "off" for mutliple statuses
                    {
                       option_status_id = "option_" + status_name;  //to compare option id with status name, so we don't disable an option that is currently selected
                        if (options[option].value == color && options[option].id != option_status_id) 
                        {
                            options[option].disabled = true;
                            options[option].style.color="#cecece";
                        }
                    }
                    if (options[option].value == old_color)
                    {
                        options[option].disabled = false;
                        options[option].style.color="#333";
                    }
                }
                $('.selectpicker').selectpicker('refresh');
            }

           /**
             * emits a submit message with the form data to the server 
            */
            function submit_form()
            {
                var inputs = $("#form_input :input").not(':button'); //all input fields (not button because bootstrap-select makes them into buttons)
                var parsed_inputs = new Array(); //only the values of the statuses
                inputs.each(function() {
                    parsed_inputs.push(this.value);
                });

                socket.emit("submit", parsed_inputs);
            }

            /**
             * returns string with first letter capitalized
             * @param {string} the string to capitalize
             * @return the new string
            */
            function capitalize_first_letter(string)
            {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            /**
             * calculates and returns the html id of the selected color/action in the json file
             * @param {json_data} a json object of the color_config.json file
             * @param {status} the status index to get the correct status info in the json file
             * @return the selected color id in the form "green_solid" or "red_blinking"
            */
            function get_selected_option_id(json_data,status)
            {
                var color = json_data.statuses[status].color;
                var blinking = (json_data.statuses[status].blink) ? "_blinking" : "_solid";
                var selected_option = color + blinking;
                if (color == "off") selected_option = "off"; //to avoid "off_solid" and "off_blinking"
                return selected_option;
            }

            /**
             *reads the data from the json file and creates the html form with the correct statuses and colors 
             *@param {json_data} a json object of the color_config.json file
            */
            function append_html(json_data)
            {
                for (var status in json_data.statuses)
                {
                    var status_id = json_data.statuses[status].id;
                    var status_name = capitalize_first_letter(json_data.statuses[status].name);
                    
                    //append <label> and <select>
                    //  <select> has unique id (id from json_data)
                    $("#form_table").append(
                        '<tr>' +
                            '<th style=" font-weight: normal; min-width:140px;">'+
                                '<p style = "margin-right: 10px; margin-top: 10px;" for="' + status_id + '">' + status_name + ':</p>' +
                            '</th>'+
                            '<th style=" font-weight: normal; min-width:215px; width: 100%; max-width: 50%;">'+
                                '<select class="form-control selectpicker" aria-hidden="true" id="' + status_id+ '" name ="'+status_id+'" onfocus = "this.old_value" onchange = "disable_colors(this.value,this.old_value,this.id);this.old_value=this.value;">');

                    //append <option> 
                    //  "<option> value" is the color and action concatinated, "green_blinking" for example
                    //  "<option> id" is the word option concatinated with the status id, "option_away" for example
                    //  the div class name in "data-content" is for the circle icon, "green-blinking" or "green-solid"
                    for (var color in json_data.colors) 
                    {
                        for(var action in json_data.actions) 
                        {
                            var circle_icon_class = json_data.colors[color].toLowerCase() + "-" + json_data.actions[action].toLowerCase();
                            var name_shown = capitalize_first_letter(json_data.colors[color])+' - '+ json_data.actions[action]; 
                            var value = json_data.colors[color].toLowerCase() + "_" + json_data.actions[action].toLowerCase(); 
                            if(json_data.colors[color] == "off") //don't want off-solid and off-blinking, so we break out of the loop
                            {
                                $("#" + status_id).append(
                                    '<option data-content="<span class=\'circle gray\'></span><div style=\'font-size:20px;\'> Off </div>" value = "off" id = "option_'+status_id+'"> </option>');
                                break;
                            }
                            else
                            {
                                $("#" + status_id).append(
                                    '<option data-content="<span class=\'circle ' +circle_icon_class +'\'></span><div style=\'font-size:20px;\'>'+name_shown+'</div>" value = "'+ value+'" id = "option_'+status_id+'"> </option>');
                            }
                        }
                    }
                     //finish appending html
                     $("#form_table").append(
                                '</select">' + 
                            '</th>'+
                        '</tr>');  
                }
                $('.selectpicker').selectpicker('refresh');
            }
            
			$(document).ready(function () {
				$("#sidebarlight").addClass("active");
                

                $.ajax({
                    url: './token',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) 
                    {
                        if (data.message === "success") 
                        {
                            socket = io.connect('https://' + window.location.host, {
                                path: '/ManagementPortal/socket.io',
                                query: 'token=' + data.token,
                                forceNew: true
                            }); 
                            socket.emit("get_color_config");
                
                            //sets up the html page dynmically via the json file received
                            socket.on("html_setup", function(data) {
                                var json_data = JSON.parse(data);
                                append_html(json_data);
                                for(status in json_data.statuses)
                                {
                                    //set currently selected color
                                    var selected_option = get_selected_option_id(json_data, status);
                                    document.getElementById(json_data.statuses[status].id).value = selected_option;
                                    document.getElementById(json_data.statuses[status].id).old_value = selected_option; 

                                    //disable selected color from other menues
                                    disable_colors(selected_option,"",json_data.statuses[status].id); 
                                }
                                $('.selectpicker').selectpicker('refresh');
                             }); 
                        }
                    },
                    error: function (xhr, status, error) 
                    {
                        console.log('Error');
                        $('#message').text('An Error Occured.');
                    }
                });
			});
        </script>
    </body>
</html>
