<!DOCTYPE html>

<html>
	<head>
		<% include ../partials/head %>
	</head>
  <body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">         
    <!-- Main Header -->
    <% include ../partials/header %>
    <% include ../partials/sidebar %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Videomail</h1>       
          <ol class="breadcrumb">
            <li><a href="./dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Videomail</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-lg-12">
				<div class="box col-lg-8 col-xs-12" id="VideoBox">
					<div class="box-header with-border">
						<i class="fa fa-video-camera"></i>
						<h3 class="box-title">Video</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div id="webcam">
							<video id="remoteView" autoplay poster="images/AD-logo.png"></video>
							<video style="right: 11px;" id="selfView" autoplay muted="true" hidden></video>
						</div>
						<div id="call-option-buttons">
							<div id="inner">
								<button id="mute-audio" type="button" class="btn btn-gray" onclick="mute_audio()">
									<i id="mute-audio-icon" class="call-btn-icon fa fa-microphone"></i>
								</button>
								<button id="hide-video" type="button" class="btn btn-gray" onclick="hide_video()">
									<i class="call-btn-icon fa fa-video-camera"></i>
									<div id="hide-video-icon" class="fa fa-close fa-close-style" style="display: none;"></div>
									<!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed-->
								</button>
								<button type="button" class="btn btn-gray" onclick="enterFullscreen()">
									<i id="fullscreen-icon" class="call-btn-icon fa fa-expand"></i>
								</button>
								<button id="end-call" type="button" class="btn btn-danger" onclick="terminate_call()">
									<i class="call-btn-icon fa fa-phone fa-rotate-135"></i>
								</button>
							</div>
						</div>
						<div id= "videomail-status-buttons">
							<div id= "inner-videomail">
								<button  id="play-video" type = "button" class = "btn btn-gray" onclick = "play_video()"> <i id= "play-video-icon" class="call-btn-icon fa fa-play"></i> </button>
								<button type="button" class = "btn btn-gray" onclick = "enterFullscreen()"><i id= "fullscreen-icon" class="call-btn-icon fa fa-expand"></i> </button>
								<span id="vmail-current-time" class="text-gray">0:00</span>
								<span class="text-gray"> / </span>
								<input type="hidden" id="seek-bar" value="0" hidden />
								<span id="vmail-total-time" class="text-gray">1:30</span>
								<span id = "videomail-status-dropdown" class="btn-group dropup">
								  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									<span><i id="status-icon" class="call-btn-icon fa fa-envelope"></i></span>&nbsp;&nbsp;&nbsp;
									<span id="user-status" >Mark as...</span>
									<span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
									 <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'UNREAD')"><a href="#"><span>Unread</span></a></li>
									 <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'READ')"><a href="#"><span>Read</span></a></li>
									 <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'IN PROGRESS')"><a href="#"><span>In Progress</span></a></li>
									 <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'CLOSED')"><a href="#"><span>Closed</span></a></li>
									 <li onclick="videomail_deleted(document.getElementById('videomailId').getAttribute('name'))"><a href="#"><span>Deleted</span></a></li>
								  </ul>
								</span>
								<button id="videomail callback" class="btn btn-primary" type="button" onclick="videomailCallback(document.getElementById('callbacknum').getAttribute('name'))">Call Consumer</button>
								<button id="exit-btn" class="btn btn-primary" type="button" onclick="stopVideomail()">Exit Videomail</button>
							</div>
						</div> 
						<div class="alert alert-info" alert-dismissable id="outboundCallAlert" hidden>
							<a class="close" onclick="$('#outboundCallAlert').hide();" style="text-decoration:none">×</a>
							<strong>Calling...</strong>
						</div>   
					</div>
				</div>
			
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Videomail</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive" style="overflow:visible !important;">
                  <!-- Videomail Table -->
                  <div class="form-group" style='height: 90vh; max-height:90vh; overflow-y:scroll;'>
                    <label>Mailbox Messages</label>
                    <button type="button" class="btn btn-default" onclick="getVideomailRecs();">
                        <i id="refresh-icon" class="fa fa-refresh"></i>
                    </button>
                    <span id="videomail-filter-dropdown" class="dropdown dropdown-menu-left" style='float:right'>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <!--span><i id="status-icon" class="call-btn-icon fa fa-envelope"></i></span-->&nbsp;&nbsp;&nbsp;
                            <span id="videomail-filter">Filter Messages
                                <span>
                                    <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li onclick="filterVideomail('ALL');">
                                <a href="#">
                                    <span>All</span>
                                </a>
                            </li>
                            <li onclick="filterVideomail('UNREAD');">
                                <a href="#">
                                    <span>Unread</span>
                                </a>
                            </li>
                            <li onclick="filterVideomail('READ');">
                                <a href="#">
                                    <span>Read</span>
                                </a>
                            </li>
                            <li onclick="filterVideomail('IN PROGRESS');">
                                <a href="#">
                                    <span>In Progress</span>
                                </a>
                            </li>
                            <li onclick="filterVideomail('CLOSED');">
                                <a href="#">
                                    <span>Closed</span>
                                </a>
                            </li>
                        </ul>
                        </span>
                        <table class="table table-hover" id="Videomail_Table">
                            <thead>
                                <tr>
                                    <th id="vmail-vrs-number">Videophone No.
                                        <i id="video-id-sort" class="fa fa-sort"> </i>
                                    </th>
                                    <th id="vmail-date">Date
                                        <i id="video-id-sort" class="fa fa-sort"> </i>
                                    </th>
                                    <th id="vmail-duration">Duration (sec)
                                        <i id="video-id-sort" class="fa fa-sort"> </i>
                                    </th>
                                    <th id="vmail-status">Status
                                        <i id="video-id-sort" class="fa fa-sort"> </i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id='videomailTbody'>
                            </tbody>
                        </table>
                </div>
				
				<!-- Videomail Retrieval Error Modal -->
				<div id="videomailErrorModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h2 class="modal-title">Videomail Retrieval Error</h2>
							</div>
							<div class="modal-body text-center">
								<h4 class="modal-title" id="videomailErrorBody"></h4>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content - wrapper -->
      <% include ../partials/footer %>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    <!--bootstrap-select-->
    <script type="text/javascript" src="./bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="./bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script type="text/javascript" src="./bower_components/jwt-decode/build/jwt-decode.min.js"></script>
    <script type="text/javascript" src="public/js/controllers/videomail.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebarvideomail").addClass("active");

      });
    </script>
  </body>
</html>